
<section class="viewport" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-evenly center">
      <section fxFlex="400px" *ngFor="let data of (items ? items.slice(0,7 ): []); let i = index">
            <mat-card fxLayout="column" class="example-card" >
                    <mat-card-header fxFlex="grow">
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{data.title}}</mat-card-title>             
                    </mat-card-header>
                    <mat-card-content fxFlex="70%">
                            <img mat-card-image src="{{data.url}}" alt="Photo of a Shiba Inu">
                            <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                bred for hunting.</p>
                    </mat-card-content>
                    <mat-card-actions fxFlex >
                            <button mat-button color="primary">LIKE</button>
                            <button mat-button>SHARE</button>
                    </mat-card-actions>
          </mat-card>
        </section>
           
        
    </section>
