@import url('https://fonts.googleapis.com/css?family=Raleway:400,900i');
@import "~@angular/material/prebuilt-themes/purple-green.css";

$footer-height: 30px;
// $sidebarcolor: #E0F2F1;
$sidebarcolor: #EEEEEE;
// $sidebarcolor:#009688;
$headercolor: #009688;

.site {
    display: grid;
    grid-template-rows: 60px 1fr $footer-height;
    grid-template-columns: 15vw 6fr 1fr;
    grid-template-areas:    "header header header"
                            "sidebar content content"
                            "footer footer footer";
    grid-gap: 10px;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

header{
    grid-area: header;
    /* position: fixed; */
    background-color: $headercolor;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #EEEEEE;
    font-size: 1.5em;
    
}
.sidebar{
    background-color: $sidebarcolor;
    // background-color: #70C1B3;
    grid-area: sidebar;
    overflow: auto;
}

app-sidebar{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

}

.content{
    // background-color: #EEEEEE;
    grid-area: content;
    overflow: auto;
    // height:100vh;
    //height: 100%;
    // display: flex;
    // flex-direction: row;
}

footer{
    
    grid-area: footer;
    background-color: #424242;
}

.miscellaneous {
    grid-area: miscellaneous;
    background-color: #B2DBBF;
}