<div class="site">

    <!--
    <header class="mdl-layout__header">
            <div class="mdl-layout__header-row"><span class="mdl-layout-title">Logiciel de gestion</span></div>
        
        
    </header>
-->
    <header>
            <div>Logiciel de gestion</div>
            
    </header>

   <!--  -->
    <nav class="sidebar">
        <app-sidebar></app-sidebar>
    </nav>
    <div class="content">
        <p>content</p>
        <ul>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li><li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
                <li>a</li>
            </ul>
    </div>
    <!-- <div class="miscellaneous"></div> -->
    <footer class="footer">
       
    </footer>
</div>